div(ng-controller="ApplicationDetailCtrl")
	.bg-light.lter.b-b.wrapper-md
		a(ui-sref="app.applications").m-n.font-thin.h3
			i.fa.fa-arrow-left
			|  {{title}}
		//- h1.m-n.font-thin.h3 {{title}}
	.wrapper-md
		
		.panel
			.panel-heading.bg-dark
				.h2.text-lt {{name}}
				.row.wrapper
					//- .col-sm-2.text-lt 部署于: {{data.updated|time}}
					.col-sm-4.text-lt 配置创建于: 
						span.label.label-info {{data.created|time}}
					.col-sm-4.text-lt 状态: 
						span.label(ng-class="stateClass(data.status.detail)") {{data.status.detail}}
				.row.wrapper(ng-if="data.status.code==2")
					.col-sm-6
						.progress.bglight.dker
							.progress-bar.progress-bar-striped.bg-warning.active(role="progressbar",ng-style="{'width':progressData+'%'}")
				span.wrapper
					button.btn.btn-sm.btn-addon.m-b-xs(ng-repeat="item in data.actions",ng-if="item.name!='detail'&&item.name!='delete'",ng-class="btnStyle[item.name]['btn']",ng-click="action(item)")
						i.fa(ng-class="btnStyle[item.name]['icon']")
						span(translate="{{item.name}}") {{itemt.name}}
					button.btn.btn-danger.btn-sm.btn-addon.m-b-xs(ng-if="data.actions.delete",ng-click="delete()")
						i.fa(ng-class="btnStyle['delete']['icon']")
						span(translate="{{data.actions.delete.name}}") {{data.actions.delete.name}}
					
				
			.panel-body
				tabset.tab-container
					tab(select="setStat(false)")
						tab-heading 个人配置
						form.form-horizontal
							.form-group
								label.col-sm-2.control-label 所属镜像
								.col-sm-8
									p.form-control-static
										a(ui-sref="app.repo({namespace:data.config.image.namespace,name:data.config.image.name})")
											span.label.label-primary {{data.config.image.namespace|filterOfficial}}{{data.config.image.name}}
										span
											i.fa.fa-tag.fa-fw.m-r-xs
											| {{data.config.image.tag}}
							.form-group
								label.col-sm-2.control-label 启动命令
								.col-sm-8
									p.form-control-static
										span.label.label-info(ng-repeat="c in data.config.command") {{c}}
										strong.text-danger(ng-if="empty(data.config.command)") 未自定义启动命令
							.form-group
								label.col-sm-2.control-label 自动重启
								.col-sm-8
									p.form-control-static
										span.text-success(ng-if="data.config.restart")
											i.glyphicon.glyphicon-ok
										span.text-danger(ng-if="!data.config.restart")
											i.glyphicon.glyphicon-remove
									
							
							.line.b-b.line-lg.pull-in
							.form-group
								label.col-sm-2.control-label 开放端口
								.col-sm-8
									.table-responsive
										table.table
											thead
												th 容器端口
												th 外部访问
											tbody
												tr(ng-repeat="p in data.config.ports")
													td {{p.key}}/tcp
													td
														span.text-success(ng-if="p.value")
															i.glyphicon.glyphicon-ok
														span.text-danger(ng-if="!p.value")
															i.glyphicon.glyphicon-remove
										p.text-center.text-danger(ng-if="empty(data.config.ports)")
											strong 未自定义开放端口
							.line.b-b.line-lg.pull-in
							.form-group
								label.col-sm-2.control-label 环境变量
								.col-sm-8
									.table-responsive
										table.table
											thead
												th 键
												th 值
											tbody
												tr(ng-repeat="e in data.config.envs")
													td {{e.key}}
													td {{e.value}}
										p.text-center.text-danger(ng-if="empty(data.config.envs)")
											strong 未自定义环境变量
							.line.b-b.line-lg.pull-in
							.form-group
								label.col-sm-2.control-label 应用绑定
								.col-sm-8
									.table-responsive
										table.table
											thead
												th 应用名称
												th 绑定别名
											tbody
												tr(ng-repeat="l in data.config.links")
													td
														a(ui-sref="app.application({id:l.id})")
															span.label.label-primary {{l.value}}
													td {{l.key}}
										p.text-center.text-danger(ng-if="empty(data.config.links)")
											strong 未自定义应用绑定
							.line.b-b.line-lg.pull-in
							.form-group
								label.col-sm-2.control-label Volume挂载
								.col-sm-8
									span.help-block 主机路径以'/'开头表示绝对路径，否则为容器目录的相对路径
									.table-responsive
										table.table
											thead
												th 主机路径
												th 容器路径
											tbody
												tr(ng-repeat="v in data.config.volumes")
													td {{v.value}}
													td {{v.key}}
										p.text-center.text-danger(ng-if="empty(data.config.volumes)")
											strong 未自定义Volume挂载
					tab(ng-if="data.inspect",select="setStat(false)")
						tab-heading 实例信息
						form.form-horizontal
							.form-group
								label.col-sm-2.control-label 时间信息
								.col-sm-2
									p.form-control-static
										strong 创建于
										span.label.label-info {{inspect.created|time}}
								.col-sm-2
									p.form-control-static
										strong 启动于
										span.label.label-success {{inspect.started|time}}
								.col-sm-2
									p.form-control-static
										strong 终止于
										span.label.label-danger {{inspect.finished|time}}
							.form-group
								label.col-sm-2.control-label 启动命令
								.col-sm-8
									p.form-control-static
										span.label.label-info(ng-repeat="c in inspect.cmd") {{c}}
										strong.text-danger(ng-if="empty(inspect.cmd)") 未自定义启动命令
							.line.b-b.line-lg.pull-in
							.form-group
								label.col-sm-2.control-label 开放端口
								.col-sm-8
									.table-responsive
										table.table
											thead
												th 容器端口
												th 访问范围
											tbody
												tr(ng-repeat="p in inspect.ports")
													td {{p.port}}
													td {{p.detail}}
										p.text-center.text-danger(ng-if="empty(data.config.ports)")
											strong 未开放端口
							.line.b-b.line-lg.pull-in
							.form-group
								label.col-sm-2.control-label 环境变量
								.col-sm-8
									.table-responsive
										table.table
											thead
												th 键
												th 值
											tbody
												tr(ng-repeat="e in inspect.envs")
													td {{e.key}}
													td {{e.value}}
										p.text-center.text-danger(ng-if="empty(inspect.envs)")
											strong 未设置环境变量
							
							.line.b-b.line-lg.pull-in
							.form-group
								label.col-sm-2.control-label 应用绑定
								.col-sm-8
									.table-responsive
										table.table
											thead
												th 应用名称
												th 绑定别名
											tbody
												tr(ng-repeat="l in inspect.links")
													td
														a(ui-sref="app.application({id:l.id})")
															span.label.label-primary {{l.value}}
													td {{l.key}}
										p.text-center.text-danger(ng-if="empty(inspect.links)")
											strong 没有应用绑定
							.line.b-b.line-lg.pull-in
							.form-group
								label.col-sm-2.control-label Volume挂载
								.col-sm-8
									span.help-block 若为路径表达式，则以'/'开头表示绝对路径，其他路径为容器目录的相对路径
									.table-responsive
										table.table
											thead
												th 挂载处
												th 容器路径
											tbody
												tr(ng-repeat="v in inspect.volumes")
													td {{v.value}}
													td {{v.key}}
										p.text-center.text-danger(ng-if="empty(inspect.volumes)")
											strong 没有Volume挂载
							.form-group
								label.col-sm-2.control-label 内部IP
								.col-sm-8
									p.form-control-static
										span.label.label-info {{inspect.ip}}
					tab(ng-if="data.status.detail=='running'",select="setStat(true)")
						tab-heading 监控信息
						.wrapper
							.table-responsive
								table.table
									thead
										th CPU
										th 内存
										th 网络I/O
										th Block I/O
									tbody
										tr(ng-show="!empty(status)")
											td  {{(status.cpu.total*100.0/status.cpu.system).toFixed(2)}}%
											td {{status.memory.usage|size}}/{{status.memory.limit|size}}
											td {{status.network.read|size}}/{{status.network.write|size}}
											td {{status.block.Read|size}}/
											{{status.block.Write|size}}

							.row
								.col-sm-6
									.panel.panel-default
										.panel-heading.font-bold 内存占用
										.panel-body
											div(id="memoryPie",style="height:240px")
								.col-sm-6
									.panel.panel-default
										.panel-heading.font-bold CPU模式
										.panel-body
											div(id="cpuPie",style="height:240px")

							


