div(ng-controller="FileCtrl")
	.bg-light.lter.b-b.wrapper-md
		h1.m-n.font-thin.h3 {{title}}
	.wrapper-md
		.panel
			.panel-heading.bg-dark
				.h2.text-lt 文件列表
				.wrapper
					p.text-lt 通过上传队列上传文件，在已有文件中可以重命名、删除、下载文件
					p.text-lt 注：上传文件中的删除仅从队列中移除文件
			.panel-body
				tabset.tab-container
					tab
						tab-heading 上传队列
						.wrapper
							input(type="file",nv-file-select="",uploader="uploader")
							.table-responsive
								table.table.table-striped.b-t.b-light
									thead
										tr
											th 名字
											th(ng-show="uploader.isHTML5") 大小
											th(ng-show="uploader.isHTML5") 进度
											th 状态
											th 操作
									tbody
										tr(ng-repeat="item in uploader.queue")
											td
												strong {{item.file.name}}
											td(ng-show="uploader.isHTML5" nowrap="") {{item.file.size|size}}
											td(ng-show="uploader.isHTML5")
												.progress.progress-sm.m-b-none.m-t-xs
													.progress-bar.bg-info(role="progressbar",ng-style="{'width':item.progress+'%'}")
											td.text-center
												span.text-success(ng-show="item.isSuccess")
													i.glyphicon.glyphicon-ok
												span.text-warning(ng-show="item.isCancel")
													i.glyphicon.glyphicon-ban-circle
												span.text-danger(ng-show="item.isError")
													i.glyphicon.glyphicon-remove
											td(nowrap="")
												button.btn.btn-success(type="button",ng-click="item.upload()",ng-disabled="item.isReady||item.isUploading||item.isSuccess") 上传
												button.btn.btn-warning(type="button",ng-click="item.cancel()",ng-disabled="!item.isUploading") 取消
												button.btn.btn-danger(type="button",ng-click="item.remove()") 删除
								div
									div
										p 队列进度:
										.progress.bg-light.bker
											.progress-bar.progress-bar-striped.bg-info.active(role="progressbar",ng-style="{'width':uploader.progress+'%'}")
									button.btn.btn-addon.btn-default(type="button",ng-click="uploader.uploadAll()",ng-disabled="!uploader.getNotUploadedItems().length")
										i.fa.fa-arrow-circle-o-up
										| 全部上传
									button.btn.btn-addon.btn-default(type="button",ng-click="uploader.cancleAll()",ng-disabled="!uploader.isUploading")
										i.fa.fa-ban
										| 全部取消
									button.btn.btn-addon.btn-danger(type="button",ng-click="uploader.clearQueue()",ng-disabled="!uploader.queue.length")
										i.fa.fa-trash-o
										| 全部移除
					tab(select="loadFiles()")
						tab-heading 已有文件
						.wrapper
							.table-responsive
								table.table.table-striped.b-t.b-light
									thead
										tr
											th 名字
											th 大小
											th 操作
									tbody
										tr(ng-repeat="item in files")
											td
												strong {{item.name}}
											td(nowrap="") {{item.size|size}}
											td(nowrap="")
												//- button.btn.btn-default.btn-xs(type="button",ng-click="download(item.name)") 下载
												button.btn.btn-default(type="button",ng-click="rename(item.name)") 重命名
												button.btn.btn-danger(type="button",ng-click="remove(item.name)") 删除
	script(type="text/ng-template",id="rename.html")
			.modal-header.bg-primary
				.modal-title
					h3 {{item.name}}
					p.text-lt 类型： {{item.suffix}}
			.modal-body
				
				form.form-validation.form-horizontal(name = "modalForm")
					.form-group
						label.col-sm-2.control-label 重命名
						.col-sm-8
							input.form-control(type="text",ng-model="rename",required="")
			.modal-footer
				button.btn.btn-default(ng-click="cancel()",type="button") 取消
				button.btn.btn-default(ng-click="ok()",type="button",ng-disabled="modalForm.$invalid") 确认