div(ng-controller="RepoDetailCtrl")
	.bg-light.lter.b-b.wrapper-md
		h1.m-n.font-thin.h3 {{title}}
	.wrapper-md
		.panel
			.panel-heading.bg-dark
				.h2.text-lt {{name}}
				.row.wrapper
					.col-sm-2.text-lt 最近更新:{{time(data.last_updated)}}
					.col-sm-2.text-lt 拉取数: {{getNumber(data.pull_count)}}
				span.wrapper
					button.btn.btn-primary.btn-sm(ng-click="publish('latest')") 部署latest版本
				
			.panel-body
				tabset.tab-container
					tab(select="loadData()")
						tab-heading 概览
						div(ng-bind-html="loadHtmlData()")
					tab(select="loadTags()")
						tab-heading 版本
						.wrapper
							ul.list-group.list-group-alt.list-group-lg.no-borders.pull-in.m-b-none
								li.list-group-item.row
									.col-xs-3 标签
									.col-xs-3 更新
									.col-xs-3 大小
								li.list-group-item.row(ng-repeat="tag in tags.results")
									span.col-xs-3
										i.fa.fa-tag.fa-fw.m-r-xs
										strong {{tag.name}}
									span.col-xs-3 {{time(tag.last_updated)}}
									span.col-xs-3 {{size(tag.full_size)}}
									.pull-right
										button.btn.btn-default.btn-sm(ng-click="publish(tag.name)") 部署


