div(ng-controller="RepoListCtrl")
	.bg-light.lter.b-b.wrapper-md
		h1.m-n.font-thin.h3 {{title}}
	.wrapper-md
		.panel
			.panel-heading.bg-dark
				.h2.text-lt 仓库列表
				.wrapper
					p.text-lt DockerHub镜像默认显示官方镜像，搜索可查看更多镜像
			.panel-body
				tabset.tab-container
					tab(select="loadImages()")
						tab-heading 已有镜像
						.wrapper
							form.m-b-md(ng-submit="loadImages(1)",name="searchImageForm")
								.input-group.col-sm-4
									input.input-md.form-control(type="text",placeholder="搜索镜像",ng-model="images.page.query")
									span.input-group-btn
										input.btn.btn-md.btn-default(type="submit",value="搜索")
							.table-responsive
								table.table.table-striped.b-t.b-light
									thead
										tr
											th.col-xs-3 名称
											th.col-xs-2 标签
											th.col-xs-2 状态
											th.col-xs-2 来源
											//- th.col-xs-4 描述
											th.col-xs-3 操作
									tbody.wrapper
										tr(ng-repeat="item in images.results")
											td
												| {{item.repository}}
											td {{item.tag}}
											//- td {{item.description}}
											td 
												span.label(ng-class="item.detail|stateClass") {{item.detail}}
											td {{item.isbuild?'构建':'拉取'}}
											td
												.btn-group.dropdown(dropdown="")
													button.btn.btn-default(type="button",ng-click="publish(item)",ng-if="item.status=='EX'") 部署
								h3.text-primary.text-center(ng-if="!images.results||images.results.length==0") 暂无镜像显示
				
								.pull-right
							
									.form-inline
										span 共
											strong {{images.count}}
											| 个镜像,每页显示
										select.form-control(ng-model="images.page.page_size",ng-change="loadImages(1)")
											option(value="5") 5
											option(value="10") 10
											option(value="15") 15
											option(value="20") 20
									.form-inline
										.input-group
											span.input-group-btn
												button.btn.btn-default(ng-disabled="!images.previous",ng-click="loadImages(images.page.page-1)") 上一页
											select.form-control(ng-model="images.page.page",ng-change="loadImages()")
												option(ng-repeat="i in images.array track by $index") {{$index+1}}
											span.input-group-btn
												button.btn.btn-default(ng-disabled="!images.next",ng-click="loadImages(images.page.page+1)") 下一页
					tab(select="loadData()")
						tab-heading DockerHub镜像
						.wrapper
							form.m-b-md(ng-submit="loadData(1)",name="searchForm")
								.input-group.col-sm-4
									input.input-md.form-control(type="text",placeholder="搜索镜像",ng-model="repos.page.query")
									span.input-group-btn
										input.btn.btn-md.btn-default(type="submit",value="搜索")
							.table-responsive
								table.table.table-striped.b-t.b-light
									thead
										tr
											th.col-xs-4 名称
											th.col-xs-2 收藏
											th.col-xs-2 拉取
											//- th.col-xs-4 描述
											th.col-xs-4 操作
									tbody.wrapper
										tr(ng-repeat="item in repos.results")
											td
												| {{item.namespace|filterOfficial}} {{item.name}}
											td {{item.star_count|largeNumber}}
											td {{item.pull_count|largeNumber}}
											//- td {{item.description}}
											td
												.btn-group.dropdown(dropdown="")
													button.btn.btn-default(type="button",ng-click="detail(item.name)") 查看详情
													button.btn.btn-default(dropdown-toggle="")
														span.caret
													ul.dropdown-menu
														li
															a(ng-click="detail(item.name)") 查看详情
														li
															a(ng-click="pull(item)") 拉取latest版本
								h3.text-primary.text-center(ng-if="!repos.results||repos.results.length==0") 暂无镜像显示
				
								.pull-right
							
									.form-inline
										span 共
											strong {{repos.count}}
											| 个仓库,每页显示
										select.form-control(ng-model="repos.page.page_size",ng-change="loadData(1)")
											option(value="5") 5
											option(value="10") 10
											option(value="15") 15
											option(value="20") 20
									.form-inline
										.input-group
											span.input-group-btn
												button.btn.btn-default(ng-disabled="!repos.previous",ng-click="loadData(repos.page.page-1)") 上一页
											select.form-control(ng-model="repos.page.page",ng-change="loadData()")
												option(ng-repeat="i in repos.array track by $index") {{$index+1}}
											span.input-group-btn
												button.btn.btn-default(ng-disabled="!repos.next",ng-click="loadData(repos.page.page+1)") 下一页
					
