div(ng-controller="RepoDetailCtrl")
	.bg-light.lter.b-b.wrapper-md
		a(ui-sref="app.repos").m-n.font-thin.h3
			i.fa.fa-arrow-left
			|  {{title}}
		//- h1.m-n.font-thin.h3 {{title}}
	.wrapper-md
		
		.panel
			.panel-heading.bg-dark
				.h2.text-lt {{name}}
				.row.wrapper
					.col-sm-4.text-lt 最近更新: 
						span.label.label-info {{data.last_updated|time}}
					.col-sm-4.text-lt 拉取数: 
						span.label.label-info {{data.pull_count|largeNumber}}
				span.wrapper
					button.btn.btn-primary.btn-sm(ng-click="pull('latest')") 拉取latest版本
				
			.panel-body
				tabset.tab-container
					tab(select="loadData()")
						tab-heading 概览
						div(ng-bind-html="loadHtmlData()")
					tab(select="loadTags()")
						tab-heading 版本
						.wrapper
							ul.list-group.list-group-alt.list-group-lg.no-borders.pull-in.m-b-none
								li.list-group-item.row
									.col-xs-3 标签
									.col-xs-3 更新
									.col-xs-3 大小
								li.list-group-item.row(ng-repeat="tag in tags.results")
									span.col-xs-3
										i.fa.fa-tag.fa-fw.m-r-xs
										strong {{tag.name}}
									span.col-xs-3 {{tag.last_updated|time}}
									span.col-xs-3 {{tag.full_size|size}}
									.pull-right
										button.btn.btn-default(ng-click="pull(tag.name)") 拉取	
							.table-responsive
								.pull-right
								
									.form-inline
										span 共
											strong {{page.count}}
											| 个应用,每页显示
										select.form-control(ng-model="tags.page.page_size",ng-change="loadTags(1)")
											option(value="5") 5
											option(value="10") 10
											option(value="15") 15
											option(value="20") 20
									.form-inline
										.input-group

											span.input-group-btn
												button.btn.btn-default(ng-disabled="!tags.previous",ng-click="loadTags(tags.page.page-1)") 上一页
											select.form-control(ng-model="tags.page.page",ng-change="loadTags()")
												option(ng-repeat="i in tags.array track by $index") {{$index+1}}
											span.input-group-btn
												button.btn.btn-default(ng-disabled="!tags.next",ng-click="loadTags(tags.page.page+1)") 下一页
							//- .pull-right
								a.btn.btn-default.btn-sm(ng-disabled="!tags.previous",ng-click="loadTags(tags.previous)") 上一页
								a.btn.btn-default.btn-sm(ng-disabled="!tags.next",ng-click="loadTags(tags.next)") 下一页

							


