div(ng-controller="RepoListCtrl")
	.bg-light.lter.b-b.wrapper-md
		h1.m-n.font-thin.h3 {{title}}
	.wrapper-md
		.panel
			.panel-heading.bg-dark
				.h2.text-lt 仓库列表
				.wrapper
					p.text-lt DockerHub镜像默认显示官方镜像，搜索可查看更多镜像
			.panel-body
				tabset.tab-container
					tab(select="loadData()")
						tab-heading DockerHub镜像
						.wrapper
							.table-responsive
								table.table.table-striped.b-t.b-light
									thead
										tr
											th.col-xs-3 名称
											th.col-xs-2 更新
											th.col-xs-2 收藏
											th.col-xs-2 拉取
											//- th.col-xs-4 描述
											th.col-xs-3 操作
									tbody.wrapper
										tr(ng-repeat="item in repos.results")
											td
												//- img(ng-src="http://hub.docker.com/public/images/official/{{item.name}}.png")
												| {{item.namespace|filterOfficial}} {{item.name}}
											td {{item.last_updated|time}}
											td {{item.star_count|largeNumber}}
											td {{item.pull_count|largeNumber}}
											//- td {{item.description}}
											td
												button.btn.btn-default(type="button",ng-click="detail(item.name)") 查看详情
				
								.pull-right
							
									.form-inline
										span 共
											strong {{page.repos.count}}
											| 个应用,每页显示
										select.form-control(ng-model="page.repos.page_size",ng-change="loadData()")
											option(value="5") 5
											option(value="10") 10
											option(value="15") 15
											option(value="20") 20
									.form-inline
										.input-group

											span.input-group-btn
												button.btn.btn-default(ng-disabled="!repos.previous",ng-click="loadData(repos.previous)") 上一页
											select.form-control(ng-model="page.repos.page",ng-change="loadData()")
												option(ng-repeat="i in getPageArray(page.repos) track by $index") {{$index+1}}
											span.input-group-btn
												button.btn.btn-default(ng-disabled="!repos.next",ng-click="loadData(repos.next)") 下一页
								//- .pull-right
								//- 	a.btn.btn-default.btn-sm(ng-disabled="!repos.previous",ng-click="loadData(repos.previous)") 上一页
								//- 	a.btn.btn-default.btn-sm(ng-disabled="!repos.next",ng-click="loadData(repos.next)") 下一页
					tab
						tab-heading 搜索镜像
						.wrapper
							form.m-b-md(ng-submit="search(query)",name="searchForm")
								.input-group.col-sm-4
									input.input-md.form-control(type="text",placeholder="搜索镜像",ng-model="query")
									span.input-group-btn
										input.btn.btn-md.btn-default(type="submit",value="搜索")
							.table-responsive(ng-show="results.results")
								table.table.table-striped.b-t.b-light
									thead
										tr
											th.col-xs-4 名称
											th.col-xs-2 收藏
											th.col-xs-2 拉取
											//- th.col-xs-4 描述
											th.col-xs-4 操作
									tbody.wrapper
										tr(ng-repeat="item in results.results")
											td
												//- img(ng-src="http://hub.docker.com/public/images/official/{{item.name}}.png")
												| {{item.repo_name}}
											td {{item.star_count|largeNumber}}
											td {{item.pull_count|largeNumber}}
											//- td {{item.description}}
											td
												button.btn.btn-sm.btn-default(type="button",ng-click="detail(item.repo_name)") 查看详情
								.pull-right
							
									.form-inline
										span 共
											strong {{page.results.count}}
											| 个应用,每页显示
										select.form-control(ng-model="page.results.page_size",ng-change="loadResults()")
											option(value="5") 5
											option(value="10") 10
											option(value="15") 15
											option(value="20") 20
									.form-inline
										.input-group

											span.input-group-btn
												button.btn.btn-default(ng-disabled="!results.previous",ng-click="loadResults(results.previous)") 上一页
											select.form-control(ng-model="page.results.page",ng-change="loadResults()")
												option(ng-repeat="i in getPageArray(page.results) track by $index") {{$index+1}}
											span.input-group-btn
												button.btn.btn-default(ng-disabled="!results.next",ng-click="loadResults(results.next)") 下一页
								
								//- .pull-right
									a.btn.btn-default.btn-sm(ng-disabled="!results.previous",ng-click="loadResults(results.previous)") 上一页
									a.btn.btn-default.btn-sm(ng-disabled="!results.next",ng-click="loadResults(results.next)") 下一页
							//- .h3.text-primary.text-center(ng-show="!results.results||results.results.length==0") 暂无镜像显示
					
