.container.w-xxl.w-auto-xs(ng-controller="SignupCtrl",ng-init="app.settings.container = false")
	a.navbar-brand.block.m-t {{app.name}}
	.m-b-lg
		.wrapper.text-center
			strong Sign in to get in touch
		form.form-validation(name="SignupForm")
			.text-danger.wrapper.text-center(ng-show="authError") {{authError}}
			.text-danger.wrapper.text-center(ng-show="SignupForm.confirm.$error.validator") Passwords do not match!	
			.list-group.list-group-sm
				.list-group-item
					input.form-control.no-border(type="text",placeholder="Username",ng-model="user.username",required="")
				.list-group-item
					input.form-control.no-border(type="email",placeholder="Email",ng-model="user.email",required="")
				.list-group-item
					input.form-control.no-border(type="password",placeholder="Password",ng-model="user.password",required="",name="password")
				.list-group-item
					input.form-control.no-border(type="confirm",placeholder="Confirm",ng-model="user.confirm",required="",ui-validate="'$value==user.password'",ui-validate-watch="'user.password'",name="confirm")
			button.btn.btn-lg.btn-primary.btn-block(ng-click="signup()",ng-disabled="SignupForm.$invalid") Sing up
			.line.line-dashed
			p.text-center
				small Already have an account?
			a.btn.btn-default.btn-lg.btn-block(ui-sref="page.signin") Sign in
	.text-center(ng-include="'app/views/partials/page_footer.html'")
