.modal-header.bg-info
	.modal-title
		h4.h4 确认
.modal-body
	.row
		.col-sm-offset-1.col-sm-8 
			p 是否确认信息无误并提交表单？
.modal-footer
	button.btn.btn-default(ng-click="cancel()",type="button") 取消
	button.btn.btn-info(ng-click="ok()",type="button") 确认